<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include 'component/Header.html' %}
    <p>At PC Component Store, we are dedicated to providing you with the best selection of gaming and performance PC
        components. Whether you're building your first gaming rig, upgrading your current setup, or need expert advice
        on the latest hardware, we are here to help. We work with top-tier manufacturers to offer a range of products
        that ensure reliability, power, and peak performance.

        Our team is made up of gaming enthusiasts and PC building experts who understand the importance of high-quality,
        reliable components. We believe that every gamer and PC builder deserves the best, which is why we curate only
        the top-performing components for you. With our deep knowledge of hardware and dedication to excellent service,
        we strive to make building or upgrading your PC an enjoyable and rewarding experience..</p>
</body>

</html>